body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.flexible{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    padding: 10%;
}
.half-width img{
    width: 100%;
}
.yellow-color{
    color: orangered;
}
.button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
    padding: 10px 40px;
}    
.text-align{
    text-align: center;
}
.images-size img{
    width: 35%;
}
.images-size{
    box-shadow: white;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    background-color: rgb(241, 181, 241);
    border-radius: 5%;
}
#back-color1{
    background-color: rgb(228, 188, 228);
}
#back-color2{
    background-color: rgb(209, 209, 171);
}
#back-color3{
    background-color: rgb(230, 159, 159);
}
#banner{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: left;
}
#right-banner{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: right;
}
.footer{
    background-color: rgb(241, 48, 145);
    text-align: center;
    color: white;
}
.footer-font{
    font-family: fantasy;
}
#app-background{
    background-image: url(images/shapes/shape-9.png);
}
.app-size{
    width: 20%;
}